<div class="w-full max-w-md mx-auto my-6">
  <!-- Container with a maximum width, auto margin for horizontal centering, and margin for vertical spacing -->
  
  <div class="bg-white shadow-sm rounded-lg px-8 pt-6 pb-8">
    <!-- Inner container with a white background, shadow, and padding, rounded corners for UI styling -->
    
    <!-- Yielding content from the :form_wrap section -->
    <%= yield :form_wrap %>
  </div>
</div>
